src/ReplicatedFirst/
src/ServerScriptService/
src/ServerStorage/
src/StarterGui/
src/StarterPlayer/
src/Workspace/

src/ReplicatedStorage/DataManager.lua
src/ReplicatedStorage/PlaceSystem.lua
src/ReplicatedStorage/PrintTable.lua
src/ReplicatedStorage/ProfileService.lua